/***** Genral **********/

html{
    font-size: 62.5%;
}
:root{
    --color-primary: rgb(255, 177, 32);
    --color-secondary: rgb(20, 162, 197);
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.7rem;
   

 
}

/******* Button *********/
.btn{
text-transform: uppercase;
font-weight: 900;
padding: 1.5rem;
border-radius: 0.5rem;
outline: none;
border: none;
}
.btn--primary{
    background-color: var(--color-primary);
    color: white;
}
.btn--red{
    background: rgb(124, 43, 43);
    color: white;
}
.btn--dark-blue{
    background: rgb(1, 54, 61);
    color: white;
}
.btn--green{
    background: green;
    color: white;
}

/******** Header **********/
header{
    height: 100vh;
    background: url(/images/hero-page.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.815);

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
   
}
.header__content{
    
    z-index: 100;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
   
}
.header__content h1{
    margin-top: 0;
    text-transform: uppercase;
    font-size: clamp(4rem, 5.5vw, 6rem);
    font-weight: 900;
    margin: 0 2.5rem;
    
}
.header__content p{
    margin: 3rem 5rem;
}