/***** Genral **********/

html{
    font-size: 62.5%;
}
:root{
    --color-primary: rgb(255, 177, 32);
    --color-secondary: rgb(20, 162, 197);
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.7rem;
   

 
}

/******* Button *********/
.btn{
text-transform: uppercase;
font-weight: 900;
padding: 1.5rem;
border-radius: 0.5rem;
outline: none;
border: none;
}
.btn--primary{
    background-color: var(--color-primary);
    color: white;
}
.btn--red{
    background: rgb(124, 43, 43);
    color: white;
}
.btn--dark-blue{
    background: rgb(1, 54, 61);
    color: white;
}
.btn--green{
    background: green;
    color: white;
}

/******** Header **********/
header{
    height: 100vh;
    background: url(/images/hero-page.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.815);

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
   
}
.header__content{
    
    z-index: 100;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
   
}
.header__content h1{
    margin-top: 0;
    text-transform: uppercase;
    font-size: clamp(4rem, 5.5vw, 7rem);
    font-weight: 900;
    margin: 0 2.5rem;
    
}
.header__content p{
    margin: 3rem 5rem;
}

/*---------Card -------*/
/* main{
    width: 70%;
    margin: auto;
}
.card{
    border-radius: 2rem;
    padding: 5rem;
  
}
.card--primary{
    background-color: var(--color-primary);
}
.card__content{
   
text-align: left;
    
}
.card__content h3{
    font-size: clamp(4rem,8vw,9rem);
    color: white;
    margin-top: 0;
 
}
.card__content p{
margin-top: -5rem;
}
.card__img{
 width: 65%;
shape-outside: url(/images/red_shoe.png);

shape-margin: 1em;
float: right;
} */

.card{
    border-radius: 2rem;
    padding: 4rem;
    width: 70%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.card--primary{
    background: radial-gradient(var(--color-primary),rgb(202, 105, 26));
}
.card__img{
    width: 100%;
    margin-top: -6rem;
}

.card__content p {
    margin: -2rem 0 3rem;

    font-weight: 100;
}
.card__content h3{
    font-size: clamp(3rem, calc(4.5vw + 1rem), 7rem);
    color: white;
    margin-top: 3rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}
@media screen and (min-width: 850px) {
    .card__img{
        float: right;
        width: 60%;
        shape-outside: url(/images/red_shoe.png);
        shape-margin: 7rem;
        margin-right: -6rem;
        margin-top: 0;
    }
        .card__content{
            text-align: left;
            
        }
}