<section class="feature">
  <h2 class="title" style="margin-top: 0">Featured products</h2>

  <div class="feature__display">
    <div class="feature__item">
      <div class="feature__container">
        <img class="feature__img" src="/images/shoe-4.png" alt="red-shoe" />
      </div>
      <div class="feature__content">
        <h3 class="feature__price">$99</h3>
        <p class="feature__name">Red Shoe</p>
      </div>
    </div>

    <div class="feature__item">
      <div class="feature__container">
        <img class="feature__img" src="/images/shoe-5.png" alt="red-shoe" />
      </div>
      <div class="feature__content">
        <h3 class="feature__price">$99</h3>
        <p class="feature__name">Red Shoe</p>
      </div>
    </div>

    <div class="feature__item">
      <div class="feature__container">
        <img class="feature__img" src="/images/shoe-6.png" alt="red-shoe" />
      </div>
      <div class="feature__content">
        <h3 class="feature__price">$99</h3>
        <p class="feature__name">Red Shoe</p>
      </div>
    </div>
  </div>
</section>
