<section>
  <h2 class="title">Our Products</h2>
  <div class="card card--primary">
    <div class="card__content">
      <img class="card__img" src="/images/red_shoe.png" alt="red shoe" />
      <h3>A Really Nice shoe</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iste in
        corporis?
      </p>
      <button class="btn btn--red">BUY NOW</button>
    </div>
  </div>

  <div class="card card--middle">
    <div class="card__content">
      <img class="card__img" src="/images/shoe-2.png" alt="red shoe" />
      <h3>A Really Nice shoe</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iste in
        corporis?
      </p>
      <button class="btn btn--dark-blue">BUY NOW</button>
    </div>
  </div>

  <div class="card card--secondary">
    <div class="card__content">
      <img class="card__img" src="/images/shoe-3.png" alt="red shoe" />
      <h3>A Really Nice shoe</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iste in
        corporis?
      </p>
      <button class="btn btn--green">BUY NOW</button>
    </div>
  </div>
</section>
